# Yarn
# reference: https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
node_modules
.pnp
.pnp.js
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Built artifacts
dist/
